<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <link rel="stylesheet" href="{% static 'css/mainPage.css' %}">
      <link rel="stylesheet" href="{% static 'css/bookingStyle.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href={% url 'home' %}>Azure</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href={% url 'home' %}>Home</a>
        </li>
        {% if user.is_authenticated and user.is_superuser %}
               <li class="nav-item">
                    <a class="nav-link" href={% url 'ticket' %}>Add Tickets</a>
                </li>
             <li class="nav-item">
                  <a class="nav-link" href={% url 'book' %}>Tickets</a>
                </li>
          <a class="nav-link" href={% url 'myBookings' %}>My bookings</a>
        </li>
              {% elif user.is_authenticated %}
               <li class="nav-item">
                  <a class="nav-link" href={% url 'book' %}>Tickets</a>
                </li>
          <a class="nav-link" href={% url 'myBookings' %}>My bookings</a>
        </li>
      </ul>
          {% endif %}

    </div>
      <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href={% url 'logout' %}><span class="icon">
                  <i class="fas fa-sign-out-alt text-danger" style="font-weight: bold;"></i>
                </span>Logout</a>
            </li>
          {% else %}
               <li class="nav-item">
                <a class="nav-link" href={% url 'login' %}><span class="icon">
                  <i class="fas fa-user text-primary" style="font-weight: bold;"></i>
                </span>Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={% url 'register' %}><span class="icon">
                  <i class="fas fa-sign-out-alt text-primary" style="font-weight: bold;"></i>
                </span>Register</a>
            </li>
          {% endif %}
        </ul>
  </div>
</nav>
  <body style="background-color: #202020">
  <section class="products">
      {% for t in tickets %}
   <div class="product-card">
            <div class="product-image">
                <img src="https://wallpaperaccess.com/full/53040.jpg">
            </div>
            <div class="productInfo">
                <h2 class="font-monospace" style="margin-top: 20px">{{t.artistName}}</h2>
            </div>
            <div class="product-buttons">
                 <form method="post">
                    {% csrf_token %}
                     <input class="inputBut" type="number" min="0" placeholder="Ticket quantity" name="quantity" class="sub">
                <button class="sub" type="submit">Book!</button>
                     <input name="ticketid" value="{{ t.ticketID }}" hidden>
                 </form>
            </div>
        </div>
        {% endfor %}
    </section>
  </body>
<footer>
    <div class="footerContent">
        <div class="faBox">
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-facebook"></a>
        </div>
        <p>&copy; Stephen Donoghue</p>
    </div>
</footer>
</html>